
<header class="top-navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="index.html">
                <img src= "./assets/eat&chill.png" alt="image here" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-rs-food" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbars-rs-food">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a class="nav-link" href="#"[routerLink]="['/home']">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Menu</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">About</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Pages</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown-a">
                            <a class="dropdown-item" href="#">Reservation</a>
                            <a class="dropdown-item" href="#">Stuff</a>
                            <a class="dropdown-item" href="#">Gallery</a>
                        </div>
                    </li>

                    <li class="nav-item"><a class="nav-link"  style="margin-left: 100px;"></a></li>
                    <li class="nav-item"><button   class="nav-link" *ngIf="!clientAuthenticated"  (click)="openDialog()" type="submit"><span>Login </span></button></li>
                    <li class="nav-item"><button  class="button1" *ngIf="clientAuthenticated" (click)="onlogout()" type="submit"><span>logout</span></button></li>
                </ul>

            </div>
        </div>
    </nav>
</header>

<!-- [routerLink]="['/login']"-->

