<div class="row inner-menu-box">
    <div class="col-3">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home"  role="tab" aria-controls="v-pills-home" aria-selected="false">All</a>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="true">Drinks</a>
            <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Lunch</a>
            <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Dinner</a>
        </div>
    </div>
    
    <div class="col-9">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                <div class="row">
                    <div class="col-lg-4 col-md-6 special-grid drinks">
                        <div class="gallery-single fix">
                            <img src="https://firebasestorage.googleapis.com/v0/b/ouzzo-f0acc.appspot.com/o/images%2Fimg-01.jpg?alt=media&token=8c9c003c-a73c-49e3-bc35-543666c98b39" class="img-fluid" alt="Image">
                            <div class="why-text">
                                <h4>Special Drinks 1</h4>
                                <p>Sed id magna vitae eros sagittis euismod.</p>
                                <h5> 7 TND</h5>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-6 special-grid drinks">
                        <div class="gallery-single fix">
                            <img src="https://firebasestorage.googleapis.com/v0/b/ouzzo-f0acc.appspot.com/o/images%2Fimg-02.jpg?alt=media&token=20421d0d-10ac-4f45-9271-da68a216ebce" class="img-fluid" alt="Image">
                            <div class="why-text">
                                <h4>Special Drinks 2</h4>
                                <p>Sed id magna vitae eros sagittis euismod.</p>
                                <h5> 9 TND</h5>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-6 special-grid drinks">
                        <div class="gallery-single fix">
                            <img src="https://firebasestorage.googleapis.com/v0/b/ouzzo-f0acc.appspot.com/o/images%2Fimg-03.jpg?alt=media&token=8cbf6b29-2eea-4310-8fdd-4779e29fd775" class="img-fluid" alt="Image">
                            <div class="why-text">
                                <h4>Special Drinks 3</h4>
                                <p>Sed id magna vitae eros sagittis euismod.</p>
                                <h5> 10 TND</h5>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-6 special-grid lunch">
                        <div class="gallery-single fix">
                            <img src="https://firebasestorage.googleapis.com/v0/b/ouzzo-f0acc.appspot.com/o/images%2Fimg-04.jpg?alt=media&token=bf78e962-7c89-46c0-a180-b7af203caf9a" class="img-fluid" alt="Image">
                            <div class="why-text">
                                <h4>Special Lunch 1</h4>
                                <p>Sed id magna vitae eros sagittis euismod.</p>
                                <h5> 15 TND</h5>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-6 special-grid lunch">
                        <div class="gallery-single fix">
                            <img src="https://firebasestorage.googleapis.com/v0/b/ouzzo-f0acc.appspot.com/o/images%2Fimg-05.jpg?alt=media&token=020919ef-3aee-4133-a221-e800718d3efe" class="img-fluid" alt="Image">
                            <div class="why-text">
                                <h4>Special Lunch 2</h4>
                                <p>Sed id magna vitae eros sagittis euismod.</p>
                                <h5> 18 TND</h5>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-6 special-grid lunch">
                        <div class="gallery-single fix">
                            <img src="https://firebasestorage.googleapis.com/v0/b/ouzzo-f0acc.appspot.com/o/images%2Fimg-06.jpg?alt=media&token=a738fd42-fc0f-4ff8-9d25-3f968c8f3704" class="img-fluid" alt="Image">
                            <div class="why-text">
                                <h4>Special Lunch 3</h4>
                                <p>Sed id magna vitae eros sagittis euismod.</p>
                                <h5> 20 TND</h5>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-6 special-grid dinner">
                        <div class="gallery-single fix">
                            <img src="https://firebasestorage.googleapis.com/v0/b/ouzzo-f0acc.appspot.com/o/images%2Fimg-07.jpg?alt=media&token=d3ab795a-61a3-4fff-bfc7-f806de760c9b" class="img-fluid" alt="Image">
                            <div class="why-text">
                                <h4>Special Dinner 1</h4>
                                <p>Sed id magna vitae eros sagittis euismod.</p>
                                <h5> 25 TND</h5>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-6 special-grid dinner">
                        <div class="gallery-single fix">
                            <img src="https://firebasestorage.googleapis.com/v0/b/ouzzo-f0acc.appspot.com/o/images%2Fimg-08.jpg?alt=media&token=2e923619-c50f-460a-8ea5-e0dc51d5eab7" class="img-fluid" alt="Image">
                            <div class="why-text">
                                <h4>Special Dinner 2</h4>
                                <p>Sed id magna vitae eros sagittis euismod.</p>
                                <h5> 22 TND</h5>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-6 special-grid dinner">
                        <div class="gallery-single fix">
                            <img src="https://firebasestorage.googleapis.com/v0/b/ouzzo-f0acc.appspot.com/o/images%2Fimg-09.jpg?alt=media&token=5650139f-faac-472c-adf1-5a0aa3e15619" class="img-fluid" alt="Image">
                            <div class="why-text">
                                <h4>Special Dinner 3</h4>
                                <p>Sed id magna vitae eros sagittis euismod.</p>
                                <h5> 24 TND</h5>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <!--new-->
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                <div class="row">
                    <div class="col-lg-4 col-md-6 special-grid drinks">
                        <div class="gallery-single fix">
                            <img src="https://firebasestorage.googleapis.com/v0/b/ouzzo-f0acc.appspot.com/o/images%2Fimg-01.jpg?alt=media&token=8c9c003c-a73c-49e3-bc35-543666c98b39" class="img-fluid" alt="Image">
                            <div class="why-text">
                                <h4>Special Drinks 1</h4>
                                <p>Sed id magna vitae eros sagittis euismod.</p>
                                <h5> 7 TND</h5>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-6 special-grid drinks">
                        <div class="gallery-single fix">
                            <img src="https://firebasestorage.googleapis.com/v0/b/ouzzo-f0acc.appspot.com/o/images%2Fimg-02.jpg?alt=media&token=20421d0d-10ac-4f45-9271-da68a216ebce" class="img-fluid" alt="Image">
                            <div class="why-text">
                                <h4>Special Drinks 2</h4>
                                <p>Sed id magna vitae eros sagittis euismod.</p>
                                <h5> 9 TND</h5>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-6 special-grid drinks">
                        <div class="gallery-single fix">
                            <img src="https://firebasestorage.googleapis.com/v0/b/ouzzo-f0acc.appspot.com/o/images%2Fimg-03.jpg?alt=media&token=8cbf6b29-2eea-4310-8fdd-4779e29fd775" class="img-fluid" alt="Image">
                            <div class="why-text">
                                <h4>Special Drinks 3</h4>
                                <p>Sed id magna vitae eros sagittis euismod.</p>
                                <h5> 10 TND</h5>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                <div class="row">
                    <div class="col-lg-4 col-md-6 special-grid lunch">
                        <div class="gallery-single fix">
                            <img src="https://firebasestorage.googleapis.com/v0/b/ouzzo-f0acc.appspot.com/o/images%2Fimg-04.jpg?alt=media&token=bf78e962-7c89-46c0-a180-b7af203caf9a" class="img-fluid" alt="Image">
                            <div class="why-text">
                                <h4>Special Lunch 1</h4>
                                <p>Sed id magna vitae eros sagittis euismod.</p>
                                <h5> 15 TND</h5>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-6 special-grid lunch">
                        <div class="gallery-single fix">
                            <img src="https://firebasestorage.googleapis.com/v0/b/ouzzo-f0acc.appspot.com/o/images%2Fimg-05.jpg?alt=media&token=020919ef-3aee-4133-a221-e800718d3efe" class="img-fluid" alt="Image">
                            <div class="why-text">
                                <h4>Special Lunch 2</h4>
                                <p>Sed id magna vitae eros sagittis euismod.</p>
                                <h5> 18 TND</h5>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-6 special-grid lunch">
                        <div class="gallery-single fix">
                            <img src="https://firebasestorage.googleapis.com/v0/b/ouzzo-f0acc.appspot.com/o/images%2Fimg-06.jpg?alt=media&token=a738fd42-fc0f-4ff8-9d25-3f968c8f3704" class="img-fluid" alt="Image">
                            <div class="why-text">
                                <h4>Special Lunch 3</h4>
                                <p>Sed id magna vitae eros sagittis euismod.</p>
                                <h5> 20 TND</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                <div class="row">
                    <div class="col-lg-4 col-md-6 special-grid dinner">
                        <div class="gallery-single fix">
                            <img src="https://firebasestorage.googleapis.com/v0/b/ouzzo-f0acc.appspot.com/o/images%2Fimg-07.jpg?alt=media&token=d3ab795a-61a3-4fff-bfc7-f806de760c9b" class="img-fluid" alt="Image">
                            <div class="why-text">
                                <h4>Special Dinner 1</h4>
                                <p>Sed id magna vitae eros sagittis euismod.</p>
                                <h5> 25 TND</h5>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-6 special-grid dinner">
                        <div class="gallery-single fix">
                            <img src="https://firebasestorage.googleapis.com/v0/b/ouzzo-f0acc.appspot.com/o/images%2Fimg-08.jpg?alt=media&token=2e923619-c50f-460a-8ea5-e0dc51d5eab7" class="img-fluid" alt="Image">
                            <div class="why-text">
                                <h4>Special Dinner 2</h4>
                                <p>Sed id magna vitae eros sagittis euismod.</p>
                                <h5> 22 TND</h5>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-6 special-grid dinner">
                        <div class="gallery-single fix">
                            <img src="https://firebasestorage.googleapis.com/v0/b/ouzzo-f0acc.appspot.com/o/images%2Fimg-09.jpg?alt=media&token=5650139f-faac-472c-adf1-5a0aa3e15619" class="img-fluid" alt="Image">
                            <div class="why-text">
                                <h4>Special Dinner 3</h4>
                                <p>Sed id magna vitae eros sagittis euismod.</p>
                                <h5> 24 TND</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

